.hidden {
    display: none;
}


/* General rules - scales images, videos to size of container */

img,
embed,
object,
video {
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* General rules for elements end */

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}


/* mobile first, css start at width 428px for mobile*/


/*----------for general header ----------*/

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px 0px;
}

a {
    text-decoration: none;
}


/*---------------------------------------- */


/* ------------ general burger nav---------------*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.onPage {
    border-bottom: 4px solid #DD1F4B;
}


/*-------------- for nav underline hover --------------*/

.selected {
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.selected:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 4px;
    background: #DD1F4B;
    transition: all .3s;
}

.selected:hover:before {
    width: 100%;
    left: 0;
    right: 0;
}


/*------------------- nav hover end ----------------------*/


/*----------- burger menu ------------*/

.burger {
    display: none;
}

.burger div {
    width: 43px;
    height: 5px;
    background-color: #DD1F4B;
    margin: 5px;
    transition: all 0.5s ease;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 50vh;
        top: 8.2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
}


/*----------- burger menu end ------------*/


/* -------------------------------- HOME PAGE ------------------------------ */


/* -------------------------------- HOME PAGE END ------------------------------ */


/* -------------------------------- ABOUT PAGE ------------------------------ */


/* -------------------------------- ABOUT PAGE END------------------------------ */


/* -------------------------------- PORTFOLIO PAGE ------------------------------ */


/* -------------------------------- PORTFOLIO PAGE END------------------------------ */


/* -------------------------------- FEATURE PAGE ------------------------------ */

.featureContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width:100%;
}

.allFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureHero{
    background-image: url(../images/feature_page/m-banner-feature.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 500px;
}
.featureHeroText{
    color:white;
    font-weight: 900;
    font-size: 9vw ;
}


.featureDesc h3{
    margin: 50px 0 20px 0;
    font-weight: 900;
    font-size: 5vw;
    color:#1C2366;
}
.featureDesc p{
    font-size: 1.7vw;
    color: black;
}


.featureNav{
    height: 95px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 60px;

}
.featureNav ul{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.featureNav li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color:white;
    background-color: #73B4D8;
    border-radius: 5px;
    width: 20vw;
    margin:5px;
    height: 38px;
}
.featureNav li:hover{
    transition-duration: 0.2s;
    background-color: #DD1F4B;
    cursor: pointer;
}


.featurePorts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px ;
    border-radius: 5px;
    
}
.featurePortBody{
    padding: 32px;
}
.featurePortHead{
    font-weight: 800;
    color:black;
    font-size: 20px;
    margin-bottom: 30px;
}
.featureName{
    font-weight: 900;
    color:#1C2366;
    font-size: 30px;
    margin-bottom: 20px;

}
.featureText{
    font-size: 15px;
    color:black;
    padding-bottom: 40px;
}
.featureDescripton{ 
    /*spelled description wrong but it's too late to fix it*/
    font-weight: 900;
    font-size: 20px;
    color: #1C2366;
    margin-bottom: 20px;

}
.featurePorts a{
    background-color: #1C2366;
    padding:13px 20px;
    border-radius: 5px;
    color:white;
}
.featurePorts a:hover{
    transition-duration:0.2s;
    background-color: #73B4D8;
}
.featurePortFoot{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 600px;
    height:40px;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
}
.featurePortFootIcons{
    
    display: flex;
    width:40%;
    justify-content: space-between;
}


#feature1{
    border-radius: 5px;
    background-image: url(../images/feature_page/m-3d-modeling-feature.jpg);
    height:348px;
    width:348px;
}
#feature2{
    border-radius: 5px;
    background-image: url(../images/feature_page/m-character-modeling-feature.jpg);
    height:348px;
    width:348px;
}#feature3{
    border-radius: 5px;
    background-image: url(../images/feature_page/m-ballaBeer.jpg);
    height:348px;
    width:348px;
}#feature4{
    border-radius: 5px;
    background-image: url(../images/feature_page/m-graphic-design.jpg);
    height:348px;
    width:348px;
}
/* ----------FEATURES PAGE TABLET SIZE------------ */
@media screen and (min-width:700px ) {
    
}
/* ---------------------TABLET SIZE END---------------------- */
/* ----------------------FEATURES PAGE PC SIZE---------------------- */
@media screen and (min-width:1000px) {

    .featureNav{
        flex-direction: row;
    }
    .featureNav li{
        width: 12vw;
    }

    .featurePorts{
        width:90vw; 
        flex-direction: row;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    .featurePortFoot{
        align-items: center;
        justify-content: center; 
        flex-direction: column; 
        height:auto;
        width:auto;
        
    }

    .featurePortsHelp{
        flex-direction: column;
        width:500px;
    }

    .featurePortFootIcons{
        flex-direction: row;
        width:200px;
        margin-top:20px;
        justify-content: space-between;
    }

    #feature1{
        background-image: url(../images/feature_page/pc-3d-modeling-feature.jpg);
        height:588px;
        background-size: COVER;        
        background-position: center;
        width: 808px;
    }#feature2{
        background-image: url(../images/feature_page/pc-character-modeling-feature.jpg);
        height:588px;
        background-size: COVER;
        background-position: center;
        width: 808px;
    }#feature3{
        background-image: url(../images/feature_page/pc-ballaBeer-feature.jpg);
        height:588px;
        background-size: COVER;
        background-position: center;
        width: 808px;
    }#feature4{
        background-image: url(../images/feature_page/pc-graphic-design.jpg);
        height:588px;
        background-size: COVER;
        background-position: center;
        width: 808px;
    }
    
    

    
}
/* ------------------------------PC SIZE END------------------------------ */
/* -------------------------------- FEATURE PAGE END ------------------------------ */


/* -------------------------------- CONTACT PAGE ------------------------------ */


/* -------------------------------- CONTACT PAGE END------------------------------ */


/* ------------for footer ------------*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 980px;
    
}

.footerEmail {
    height: 360px;
    background-color: #1c2366;
}

.footerEmail p {
    color: white;
    font-size: 4vw;
    font-weight: 900;
    margin-top: 104px;
}

.footerSend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:25px;
    
}

.inputhomeArea {
    width: 70vw;
    height: 5vw;
    border: none;
    border-radius: 5px;
}

body input::placeholder {
    font-weight: bold;
    color: #ADADAD;
    font-size: 2.5vw;
    padding-left:10px;
}

.footerSend a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13vw;
    height:auto;
    padding:10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 2.5vw;
    font-weight: 900;
    margin-top:50px;

}
.footerSend a:hover{
    transition-duration:0.4s;
    color: #73B4D8;
}

.footerInfo {
    background-color: #0D1132;
    height: 620px;
}

.footerLogo {
    margin-top: 130px;
    margin-bottom: 30px;
}

.footerContact ul li {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.SocialMedia {
    text-align: center;
    margin-top:35px;
}

.SocialMedia ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.SocialMedia ul li {
    list-style-type: none;
    width: 40px;
    height: 40px;
    padding: 2px;
}

.copyRight {
    color: white;
    margin-top: 90px;
}
