@font-face {
    font-family: 'montserratblack';
    src: url('../font/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../font/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.hidden {
    display: none;
}


/* General rules - scales images, videos to size of container */

img,
embed,
object,
video {
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* General rules for elements end */

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}


/* mobile first, css start at width 428px for mobile*/


/*----------for general header ----------*/

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.headerLogo {
    width: 50%;
    margin-left: 50px;
}

@media screen and (max-width:426px) {
    .headerLogo {
        width: 196px;
        height: 60px;
    }
}


/*---------------------------------------- */


/* ------------ general burger nav---------------*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.onPage {
    border-bottom: 4px solid #DD1F4B;
}


/*-------------- for nav underline hover --------------*/

.selected {
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.selected:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 4px;
    background: #DD1F4B;
    transition: all .3s;
}

.selected:hover:before {
    width: 100%;
    left: 0;
    right: 0;
}


/*------------------- nav hover end ----------------------*/


/*----------- burger menu ------------*/

.burger {
    display: none;
}

.burger div {
    width: 43px;
    height: 5px;
    background-color: #DD1F4B;
    margin: 5px;
    transition: all 0.5s ease;
    border-radius: 3px;
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 50vh;
        top: 7rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
}


/*----------- burger menu end ------------*/


/* -------------------------------- HOME PAGE ------------------------------ */

.homeContainer {
    margin: 0 auto;
    display: grid;
}

.eyecatcher {
    width: auto;
    height: 826px;
    padding: 100px;
    background-image: url(../images/eyecatcher_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wwytTitle {
    margin-bottom: 100px;
    margin-top: 50px;
}

.eyecatcherDetail {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.tagline {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.eyecatcherButton {
    background-color: #fff;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #1C2366;
}

.buttontext {
    font-weight: bold;
    font-size: 20px;
}

.eyecatcherButton:hover {
    background-color: #1C2366;
    color: #fff;
}

/* -------------------------------- PORTFOLIO PAGE ------------------------------ */
.tablet, .mobile {
    display: none;
}

#portfolioContainer {
    margin: 0 auto;
    font-family: 'montserratmedium', 'arial', 'calibri';
    font-size: 30px;
    text-align: center;
}

.portfolioBanner {
    position: relative;
}

.portfolioBannerText {
    position: absolute;
    top: 357px;
    left: 345px;
    color: white;
}

.portfolioBannerText h2 {
    font-size: 65px;
    font-family: 'montserratblack', 'arial', 'calibri';
    padding-bottom: 40px;
}

.portfolioBannerText p {
    font-family: 'montserratsemibold', 'arial', 'calibri';
    line-height: 45px;
}

.portfolioNav {
    display: flex;
    flex-wrap: wrap;
}

.portfolioNavBox {
    display: block;
    margin: 100px auto 0px auto;
}

.portfolioNav img {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pc {
    display: block;
}

.portfolioNav h3 {
    width: 530px;
    height: 120px;
    display: block;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1c2366;
    color: white;
    font-family: 'montserratbold', 'arial', 'calibri';
    padding-top: 44px;
}

.portfolioNav h3:hover {
    width: 530px;
    height: 120px;
    display: block;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #DD1F4B;
    color: white;
    font-family: 'montserratbold', 'arial', 'calibri';
    padding-top: 44px;
    transition: all .3s ease;
}

.latestPortfolio {
    display: block;
    background-color: #C0D8EB;
    margin-top: 138px;
    margin-bottom: 138px;
    padding-top: 128px;
    padding-bottom: 170px;
}

.portfolios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pc-latestPortfolio {
    display: block;
    border-collapse: collapse;
}

.latestPortfolio h2 {
    font-family: 'montserratblack', 'arial', 'calibri';
    font-size: 65px;
    color: #1c2366;
    padding-bottom: 70px;
}

.portfolioShowingBox {
    display: inline-block;
}

.portfolioContainerBox button {
    margin-top: 80px;
    width: 242px;
    height: 75px;
    padding: 15px;
    font-size: 23px;
    font-family: 'montserratbold', 'arial', 'calibri';
    border-radius: 10px;
    color: white;
    background-color: #1c2366;
}

.portfolioContainerBox button:hover {
    margin-top: 80px;
    width: 242px;
    height: 75px;
    padding: 15px;
    font-size: 23px;
    font-family: 'montserratbold', 'arial', 'calibri';
    border-radius: 10px;
    color: white;
    background-color: #DD1F4B;
    transition: all 0.3s ease;
}

.PortfolioText {
    width: 670px;
    height: 155px;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1c2366;
    color: white;
    padding-top: 41px;
}

.PortfolioText:hover {
    width: 670px;
    height: 155px;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #DD1F4B;
    color: white;
    padding-top: 41px;
    transition: all .3s ease;
}

.PortfolioText h3 {
    font-family: 'montserratbold', 'arial', 'calibri';
    padding-bottom: 18px;
}

.PortfolioText p {
    font-size: 20px;
    font-family: 'montserratsemibold', 'arial', 'calibri';
}

.portfolioBox {
    margin-left: 20px;
    margin-right: 20px;
}

.messageContactUs {
    margin-bottom: 138px;
}

.messageContactUs h2 {
    font-size: 65px;
    font-family: 'montserratblack', 'arial', 'calibri';
    color: #1c2366;
}

.messageContactUs p {
    text-align: center;
    font-family: 'montserratmedium';
    padding-top: 54px;padding-bottom: 54px;
    line-height: 40px;
}

.messageContactUs button {
    width: 242px;
    height: 75px;
    padding: 15px;
    font-size: 23px;
    font-family: 'montserratbold', 'arial', 'calibri';
    border-radius: 10px;
    color: white;
    background-color: #1c2366;
}

.messageContactUs button:hover {
    width: 242px;
    height: 75px;
    padding: 15px;
    font-size: 23px;
    font-family: 'montserratbold', 'arial', 'calibri';
    border-radius: 10px;
    color: white;
    background-color: #DD1F4B;
    transition: all .3s ease;
}

/* End of slider css */
@media screen and (max-width: 768px) {

.pc, .mobile {
    display: none;
}

.tablet {
    display: block;
}

.portfolioBannerText {
    top: 450px;
    left: 41px;
    right: 41px;
}

.portfolioBannerText h2 {
    font-family: 'montserratblack', 'arial', 'calibri';
    font-size: 65px;
    padding-bottom: 36px;
}

.portfolioBannerText p {
    font-family: 'montserratmedium', 'arial', 'calibri';
    font-size: 23px;
    line-height: 30px;
}

.portfolioNav {
    margin-top: 138px;
    margin-left: 55px;
    margin-right: 55px;
}

.portfolioNavBox {
    margin-top: 30px;
}

.portfolioNavBox h3 {
    width: 297px;
    height: 90px;
    font-size: 20px;
    padding-top: 35px;
}

.portfolioNavBox h3:hover {
    width: 297px;
    height: 90px;
    font-size: 20px;
    padding-top: 35px;
}

.latestPortfolio h2 {
    font-size: 40px;
}

.portfolios {
    margin: 0 auto;
}

.portfolios img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.portfolioContainerBox button {
    width: 158px;
    height: 55px;
    font-size: 16px;
}
    
.porfolioContainerBox button:hover {
    width: 158px;
    height: 55px;
    font-size: 16px;
}

.PortfolioText {
    width: 454px;
}

.PortfolioText:hover {
    width: 454px;
}

.PortfolioText h3:hover {
    font-size: 33px;
}

.anotherPortfolio {
    display: none;
}

.messageContactUs {
    margin-left: 55px;
    margin-right: 55px;
}

.messageContactUs p {
    font-size: 18px;
    line-height: 23px;
}

.messageContactUs button {
    width: 158px;
    height: 55px;
    font-size: 16px;
}

.messageContactUs button:hover {
    width: 158px;
    height: 55px;
    font-size: 16px;
}
}

@media screen and (max-width: 428px) {

.pc, .tablet {
    display: none;
}

.mobile {
    display: block;
}

.portfolioBanner {
    position: relative;
}

.portfolioBannerText {
    position: absolute;
    top: 270px;
    left: 41px;
    right: 41px;
    color: white;
}

.portfolioBannerText h2 {
    font-family: 'montserratblack', 'arial', 'calibri';
    font-size: 45px;
    padding-bottom: 36px;
}

.portfolioBannerText p {
    font-family: 'montserratmedium', 'arial', 'calibri';
    font-size: 18px;
    line-height: 20px;
}

.portfolioNav {
    margin: 30px auto;
}

.portfolioNavBox h3 {
    width: 345px;
    height: 83px;
    font-size: 20px;
}

.portfolioNavBox h3:hover {
    width: 345px;
    height: 83px;
    font-size: 20px;
}

.latestPortfolio h2 {
    font-size: 22px;
}

.PortfolioText {
    width: 346px;
    height: 104px;
    padding-top: 28px;
}

.PortfolioText h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.PortfolioText h3:hover {
    font-size: 25px;
}

.PortfolioText p {
    font-size: 15px;
}

.messageContactUs {
    margin-left: 41px;
    margin-right: 41px;
}

.messageContactUs h2 {
    font-size: 22px;
}

.messageContactUs p {
    font-size: 15px;
    line-height: 22px;
}
  
.cloudSection {
    background-image: url(../images/index_page/backgroundcloud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: auto;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.cloudTitle {
    color: #1C2366;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.cloudSection p {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    max-width: 330px;
}

.promoSection {
    background-color: #1C2366;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promoTitle {
    color: #C0D8EB;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 20px 0px;
    max-width: 300px;
}

.promoTitle+p {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-align: center;
    max-width: 400px;
}

.portfolioContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
}

.portfolioImage {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
}

.portfolioInfo {
    width: 190px;
    height: 190px;
    border-radius: 0px 0px 10px 10px;
    background-color: #73B4D8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.portfolioTitle {
    color: #1C2366;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.blackLine {
    width: 40px;
    height: 5px;
    background-color: #1C2366;
}

.portfolioDetail {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color: #000;
}

#closerlook {
    width: 250px;
}

.videoBox {
    display: flex;
    flex-direction: column;
    background-color: #1C2366;
    align-items: center;
}

/* ------------for footer ------------*/
footer {
.indexVideo {
    width: 400px;
    margin: 30px 0px 50px 0px;
}

.aboutSection {
    background-image: url(../images/index_page/backgroundcloud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.aboutSection>.cloudTitle {
    max-width: 400px;
}

.aboutSection p {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    max-width: 330px;
}

.faces {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.faces img {
    width: 165px;
    border-radius: 200px;
}

.aboutButton {
    background-color: #1C2366;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    margin: 30px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputhomeArea {
    width: 40%;
    height: 75px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
.aboutButton p {
    margin-top: 0px;
}

.aboutButton:hover {
    background-color: #fff;
    color: #1C2366;
}


/* TABLET SIZE - HOME PAGE ================================ */

@media screen and (min-width: 800px) {
    .eyecatcher {
        height: 910px;
        background-image: url(../images/eyecatcher_desktop.jpg);
    }
    .eyecatcherDetail {
        font-size: 30px;
    }
    .tagline {
        font-size: 62px;
    }
    .cloudSection {
        height: 415px;
    }
    .cloudSection p {
        max-width: 550px;
    }
    .promoTitle+p {
        font-size: 30px;
        max-width: 700px;
    }
    .promoTitle {
        max-width: 550px;
    }
    .portfolioContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .indexVideo {
        width: 610px;
    }
    .faces img {
        width: 295px;
    }
}


/* DESKTOP SIZE - HOME PAGE =============================== */

@media screen and (min-width: 1140px) {
    .eyecatcher {
        height: 915px;
        padding: 50px;
    }
    .eyecatcherDetail {
        font-size: 40px;
    }
    .tagline {
        font-size: 95px;
    }
    .cloudSection {
        height: 640px;
    }
    .cloudSection p {
        text-align: center;
        font-size: 30px;
        max-width: 775px;
    }
    .promoTitle {
        margin-top: 100px;
        font-size: 50px;
        max-width: 800px;
    }
    .portfolioImage {
        width: 300px;
        height: 300px;
    }
    .portfolioInfo {
        width: 300px;
    }
    .indexVideo {
        width: 1050px;
    }
    .aboutSection>.cloudTitle {
        max-width: 800px;
    }
    .faces {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        height: 250px;
    }
    .faces img {
        width: 250px;
    }
}


/* -------------------------------- HOME PAGE END ------------------------------ */


/* -------------------------------- ABOUT PAGE ------------------------------ */


/* --------------------about page content start-------------------------- */


/* ------------about page banner------------ */

.aboutBanner {
    background: url(../images/about_page/pc-banner-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    height: 915px;
}

.aboutBanner p {
    font-size: 95px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 400px;
}
  
.footerInfo {
    background-color: #0D1132;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    width: 383px;
    height: 119px;
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;

/* ------------about page banner end------------ */


/* --------------- wwyt Intro ------------------ */

.wwytIntro {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: row;
    background-color: #1C2366;
}

.leftIntro {
    width: 50%;
    height: 1080px;
    background: url(../images/about_page/pc-about-computer-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rightIntro {
    width: 50%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightIntroBox {
    width: 70%;
    height: 792px;
    margin: 0 auto;
}

.rightIntro h3 {
    font-size: 55px;
    font-weight: bold;
    text-align: right;
}

.rightIntro h4 {
    font-size: 43px;
    font-weight: bold;
    text-align: right;
    margin-top: 35px;
}

.rightIntro p {
    font-size: 25px;
    text-align: justify;
}

.rightIntro p:nth-child(3) {
    margin-top: 125px;
    text-indent: 30px;
    line-height: 32px;
}

.rightIntro p:nth-child(4) {
    margin-top: 50px;
    text-indent: 30px;
    line-height: 32px;
}

.rightIntro p:nth-child(5) {
    margin-top: 50px;
}


/*-------------- wwyt Intro end ----------------- */


/* --------------------------- Bio start -------------------------- */

.teamBio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.SocialMedia ul li {
    list-style-type: none;
    width: 67px;
    height: 67px;
}

.copyRight {
    color: white;
    margin-top: 50px;
}

    flex-direction: column;
}

.bioSlogan {
    width: 100%;
    height: 533px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bioSlogan h3 {
    font-size: 65px;
    font-weight: bold;
    color: #1C2366;
    margin-top: 200px;
}

.bioSlogan h4 {
    font-size: 30px;
    color: black;
}

.bioSlogan h4:nth-child(2) {
    margin-top: 30px;
}

.bioSlogan h4:nth-child(3) {
    margin-top: 10px;
}

.teamPortraitButton {
    width: 100%;
}

.teamPortraitButton ul li {
    float: left;
}

.wang,
.yeom,
.willems,
.trachsell {
    width: 50%;
    height: 50%;
    position: relative;
}

.hoverText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease-in-out 0.6s;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(8px);
}

.overlay {
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1C2366;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.photo:hover .hoverText {
    opacity: 90%;
    transform: scale(1.01);
    filter: brightness(110%);
    cursor: pointer;
}


/* ------------------ portrait dynamic part ------------------- */


/* --------------- light box style------------- */

.teamBio {
    position: relative;
}

.lightBox {
    width: 100%;
    height: 1080px;
    background: url(../images/about_page/pc_lightBox_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 35%;
    display: none;
}

.show-lightbox {
    display: block;
}

.lightBoxButton {
    display: flex;
    flex-direction: column;
    float: right;
    position: absolute;
    left: 90%;
    top: 0;
}

.lightBox .close {
    margin-top: 85px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background-color: #1C2366;
}

.close:hover {
    color: #DD1F4B;
    transition: .5s;
}

.lightBox .next {
    margin-top: 392px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background-color: #1C2366;
}


/* ------------------------------------- */

.lightBoxBio {
    display: flex;
    flex-direction: row;
    width: 78%;
    height: 700px;
    margin-top: 135px;
    margin-left: 200px;
}

.leftBox {
    width: 36%;
    height: 700px;
    text-align: center;
}

#portraitContainer {
    width: 530px;
    height: 530px;
    -moz-border-radius: 265px;
    -webkit-border-radius: 265px;
    border-radius: 265px;
    background-image: url(../images/about_page/001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bio-name {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 60px;
}

.bio-email {
    font-size: 20px;
    margin-top: 20px;
}

.bio-phone {
    font-size: 20px;
    margin-top: 10px;
}


/* ------------------------------------ */

.rightBox {
    width: 60%;
    height: 80%;
    position: relative;
    margin-left: 150px;
}

.bio-Info {
    font-size: 20px;
    line-height: 40px;
    text-indent: 50px;
}

.contactButton {
    display: block;
    width: 210px;
    height: 75px;
    background-color: #1C2366;
    border-radius: 7px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    line-height: 75px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
}

.contactButton:hover {
    filter: brightness(120%);
    transition: ease-in-out 1s;
    color: #DD1F4B;
}


/* --------------------------- Bio end  --------------------------- */


/* ------------------- About page media query kick in -------------------*/


/* for banner img */

@media screen and (max-width:428px) {
    .aboutBanner {
        background: url(../images/about_page/m-banner-about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 826px;
    }
}

@media screen and (max-width:768px) {
    .aboutBanner {
        background: url(../images/about_page/t-banner-about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 1240px;
    }
}


/* for banner h3 */

@media screen and (max-width:768px) {
    .aboutBanner p {
        font-size: 80px;
    }
}

@media screen and (max-width:428px) {
    .aboutBanner p {
        font-size: 45px;
    }
}


/* for wwytIntro */

@media screen and (max-width:1436px) {
    .rightIntro h3 {
        font-size: 50px;
        font-weight: bold;
        text-align: right;
    }
    .rightIntro h4 {
        font-size: 40px;
        font-weight: bold;
        text-align: right;
        margin-top: 30px;
    }
    .rightIntro p:nth-child(3) {
        margin-top: 100px;
        text-indent: 30px;
        line-height: 28px;
    }
    .rightIntro p {
        font-size: 23px;
        text-align: justify;
    }
    .rightIntro p:nth-child(4) {
        margin-top: 45px;
        text-indent: 30px;
        line-height: 28px;
    }
    .rightIntro p:nth-child(5) {
        margin-top: 50px;
    }
}

@media screen and (max-width:1300px) {
    .rightIntro h3 {
        font-size: 40px;
        font-weight: bold;
        text-align: right;
    }
    .rightIntro h4 {
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        margin-top: 20px;
    }
    .rightIntro p:nth-child(3) {
        margin-top: 80px;
        text-indent: 30px;
        line-height: 27px;
    }
    .rightIntro p {
        font-size: 23px;
        text-align: justify;
    }
}

@media screen and (max-width:980px) {
    .rightIntro h3 {
        font-size: 38px;
        font-weight: bold;
        text-align: right;
    }
    .rightIntro h4 {
        font-size: 25px;
        font-weight: bold;
        text-align: right;
        margin-top: 20px;
    }
    .rightIntro p:nth-child(3) {
        margin-top: 50px;
        text-indent: 30px;
        line-height: 25px;
    }
    .rightIntro p {
        font-size: 22px;
        text-align: justify;
    }
    .rightIntro p:nth-child(4) {
        margin-top: 40px;
        text-indent: 30px;
        line-height: 25px;
    }
    .rightIntro p:nth-child(5) {
        margin-top: 50px;
    }
}

@media screen and (max-width:800px) {
    .leftIntro {
        display: none;
    }
    .rightIntro {
        width: 100%;
        height: 906px;
    }
    .rightIntroBox {
        width: 80%;
        margin: 0 auto;
    }
    .rightIntroBox h3 {
        text-align: center;
        font-size: 60px;
        margin-top: 132px;
        margin-bottom: 20px;
    }
    .rightIntroBox h4 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 60px;
    }
    .rightIntroBox p {
        font-size: 23px;
    }
    .rightIntroBox p:nth-child(3) {
        line-height: 30px;
    }
    .rightIntroBox p:nth-child(4) {
        line-height: 28px;
        margin-top: 50px;
    }
}

@media screen and (max-width:640px) {
    .rightIntroBox h3 {
        text-align: center;
        font-size: 35px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:500px) {
    .leftIntro {
        display: none;
    }
    .rightIntro {
        width: 100%;
        height: 594px;
    }
    .rightIntroBox {
        width: 80%;
        margin: 0 auto;
    }
    .rightIntroBox h3 {
        text-align: center;
        font-size: 35px;
        margin-top: 132px;
        margin-bottom: 20px;
    }
    .rightIntroBox h4 {
        text-align: center;
        font-size: 19px;
        margin-bottom: 26px;
    }
    .rightIntroBox p {
        font-size: 15px;
    }
    .rightIntroBox p:nth-child(3) {
        line-height: 40px;
    }
    .rightIntroBox p:nth-child(4) {
        line-height: 40px;
        margin-top: 50px;
    }
}


/* for team bio slogan */

@media screen and (max-width:800px) {
    .bioSlogan {
        height: 350px;
    }
    .bioSlogan h3 {
        font-size: 40px;
        margin-top: 125px;
    }
    .bioSlogan h4 {
        font-size: 18px;
    }
    .teamBio {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:620px) {
    .bioSlogan h3 {
        font-size: 40px;
        margin-top: 100px;
    }
    .bioSlogan h4 {
        font-size: 18px;
    }
    .teamBio {
        margin-bottom: 100px;
    }
}


/* for teamBio portrait */

@media screen and (max-width:768px) {
    .overlay {
        font-size: 40px;
    }
}

@media screen and (max-width:428px) {
    .teamPortraitButton {
        margin-bottom: 0;
    }
    .teamPortraitButton ul {
        display: flex;
        flex-direction: column;
    }
    .teamPortraitButton ul li {
        width: 346px;
        height: 346px;
        margin: 0 auto;
    }
    .overlay {
        font-size: 30px;
        top: 50%;
        left: 50%;
        height: 346px;
        margin-top: 110px;
    }
}


/* for lightbox  */

@media screen and (max-width:1640px) {
    .lightBoxBio {
        margin-left: 100px;
    }
    #portraitContainer {
        width: 450px;
        height: 450px;
        -moz-border-radius: 265px;
        -webkit-border-radius: 265px;
        border-radius: 265px;
    }
}

@media screen and (max-width:1330px) {
    .contactButton {
        margin-top: 60px;
    }
    .rightBox p {
        line-height: 32px;
    }
}

@media screen and (max-width:1094px) {
    .lightBox {
        top: 0;
        height: 100%;
    }
    .leftBox {
        width: 50%;
        height: 30%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .lightBoxBio {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        align-items: center;
    }
    .rightBox {
        width: 80%;
        height: 60%;
        position: relative;
        top: 60%;
        margin: 0 auto;
    }
    #portraitContainer {
        width: 400px;
        height: 400px;
        -moz-border-radius: 265px;
        -webkit-border-radius: 265px;
        border-radius: 265px;
    }
    .rightBox p {
        line-height: 25px;
        font-size: 18px;
    }
}

@media screen and (max-width:874px) {
    #portraitContainer {
        width: 300px;
        height: 300px;
    }
    .rightBox {
        margin-top: 10px;
    }
    .leftBox {
        height: 10%;
    }
}

@media screen and (max-width:801px) {
    #portraitContainer {
        width: 300px;
        height: 300px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        border-radius: 200px;
        margin-bottom: 5px;
    }
    .leftBox {
        height: 5%;
    }
    .contactButton {
        display: block;
        width: 150px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        margin-top: 50px;
    }
    .rightBox {
        width: 90%;
        height: 40%;
    }
    .bio-name {
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top: 20px;
    }
    .bio-email {
        font-size: 15px;
        margin-top: 10px;
    }
    .bio-phone {
        font-size: 15px;
        margin-top: 5px;
    }
    .rightBox p {
        line-height: 22px;
        font-size: 10px;
    }
    .lightBoxBio {
        height: 70%;
    }
}

@media screen and (max-width:768px) {
    .lightBoxBio {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .leftBox {
        justify-content: center;
        align-items: center;
    }
    .rightBox p {
        display: none;
    }
    .lightBoxButton {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width:700px) {
    #portraitContainer {
        width: 250px;
        height: 250px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        border-radius: 200px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:500px) {
    #portraitContainer {
        width: 200px;
        height: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        border-radius: 200px;
        margin-bottom: 5px;
    }
    .lightBoxButton {
        width: 2px;
        height: 2px;
        left: 80%;
    }
}

@media screen and (max-width:428px) {
    .lightBox {
        width: 100%;
        height: 30%;
        top: 0;
    }
    #portraitContainer {
        width: 150px;
        height: 150px;
    }
    .lightBoxButton {
        width: 1px;
        height: 1px;
        left: 80%;
    }
}


/* -------------------------------- ABOUT PAGE END------------------------------ */


/* -------------------------------- PORTFOLIO PAGE ------------------------------ */


/* -------------------------------- PORTFOLIO PAGE END------------------------------ */


/* -------------------------------- FEATURE PAGE ------------------------------ */

.featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.allFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureHero {
    background-image: url(../images/feature_page/m-banner-feature.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 500px;
}

.featureHeroText {
    color: white;
    font-weight: 900;
    font-size: 9vw;
}

.featureDesc h3 {
    margin: 50px 0 20px 0;
    font-weight: 900;
    font-size: 5vw;
    color: #1C2366;
}

.featureDesc p {
    font-size: 1.7vw;
    color: black;
}

.featureNav {
    height: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 60px;
}

.featureNav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featureNav li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #73B4D8;
    border-radius: 5px;
    width: 20vw;
    margin: 5px;
    height: 38px;
}

.featureNav li:hover {
    transition-duration: 0.2s;
    background-color: #DD1F4B;
    cursor: pointer;
}

.featurePorts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px;
    border-radius: 5px;
}

.featurePortBody {
    padding: 32px;
}

.featurePortHead {
    font-weight: 800;
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}

.featureName {
    font-weight: 900;
    color: #1C2366;
    font-size: 30px;
    margin-bottom: 20px;
}

.featureText {
    font-size: 15px;
    color: black;
    padding-bottom: 40px;
}

.featureDescripton {
    /*spelled description wrong but it's too late to fix it*/
    font-weight: 900;
    font-size: 20px;
    color: #1C2366;
    margin-bottom: 20px;
}

.featurePorts a {
    background-color: #1C2366;
    padding: 13px 20px;
    border-radius: 5px;
    color: white;
}

.featurePorts a:hover {
    transition-duration: 0.2s;
    background-color: #73B4D8;
}

.featurePortFoot {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 600px;
    height: 40px;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
}

.featurePortFootIcons {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

#feature1 {
    border-radius: 5px;

    background-image: url(../images/feature_page/m-3d-modeling-feature.jpg);
    height: 348px;
    width: 348px;

    background-image: url(../images/feature_page/m-gehwol.jpg);
    height:348px;
    width:348px;

}

#feature2 {
    border-radius: 5px;

    background-image: url(../images/feature_page/m-character-modeling-feature.jpg);
    height: 348px;
    width: 348px;
}

#feature3 {

    background-image: url(../images/feature_page/m-Lysol.jpg);
    height:348px;
    width:348px;
}
#feature3{

    border-radius: 5px;
    background-image: url(../images/feature_page/m-ballaBeer.jpg);
    height: 348px;
    width: 348px;
}

#feature4 {
    border-radius: 5px;

    background-image: url(../images/feature_page/m-graphic-design.jpg);
    height: 348px;
    width: 348px;

    background-image: url(../images/feature_page/m-greyRidge.jpg);
    height:348px;
    width:348px;

}


/* ----------FEATURES PAGE TABLET SIZE------------ */

@media screen and (min-width:700px) {}


/* ---------------------TABLET SIZE END---------------------- */


/* ----------------------FEATURES PAGE PC SIZE---------------------- */

@media screen and (min-width:1000px) {
    .featureNav {
        flex-direction: row;
    }
    .featureNav li {
        width: 12vw;
    }
    .featurePorts {
        width: 90vw;
        flex-direction: row;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .featurePortFoot {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .featurePortsHelp {
        flex-direction: column;
        width: 500px;
    }
    .featurePortFootIcons {
        flex-direction: row;
        width: 200px;
        margin-top: 20px;
        justify-content: space-between;
    }

    #feature1 {
        background-image: url(../images/feature_page/pc-3d-modeling-feature.jpg);
        height: 588px;
        background-size: COVER;
        background-position: center;
        width: 808px;
    }
    #feature2 {
        background-image: url(../images/feature_page/pc-character-modeling-feature.jpg);
        height: 588px;
  }

    #feature1{
        background-image: url(../images/feature_page/pc-gehwol.jpg);
        height:588px;
        background-size: COVER;        
        background-position: center;
        width: 808px;
    }#feature2{
        background-image: url(../images/feature_page/pc-Lysol.jpg);
        height:588px;

        background-size: COVER;
        background-position: center;
        width: 808px;
    }
    #feature3 {
        background-image: url(../images/feature_page/pc-ballaBeer-feature.jpg);
        height: 588px;
        background-size: COVER;
        background-position: center;
        width: 808px;

    }
    #feature4 {
        background-image: url(../images/feature_page/pc-graphic-design.jpg);
        height: 588px;

    }#feature4{
        background-image: url(../images/feature_page/pc-greyRidge.jpg);
        height:588px;

        background-size: COVER;
        background-position: center;
        width: 808px;
    }
}


/* ------------------------------PC SIZE END------------------------------ */


/* -------------------------------- FEATURE PAGE END ------------------------------ */


/* -------------------------------- CONTACT PAGE ------------------------------ */

.ContactContent>.eyecatcher {
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    height: 800px;
}

.dividerLine {
    width: 120px;
    height: 8px;
    background-color: #fff;
    margin-bottom: 40px;
}

.contactDetail {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    width: 350px;
}

.phones {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.location {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.hours {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.formBox {
    background-color: #C0D8EB;
    padding: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInput {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

option,
.developer {
    font-weight: bold;
    color: #ADADAD;
    padding-left: 40px;
}

.messageBox {
    padding-left: 40px;
    width: 400px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .contactDetail {
        width: 500px;
    }
    .contactInput {
        width: 672px;
        height: 75px;
        font-size: 30px;
    }
    .messageBox {
        width: 672px;
        font-size: 30px;
    }
}

@media screen and (min-width: 1140px) {
    .contactDetail {
        font-size: 30px;
        width: 700px;
    }
    .dividerLine {
        width: 145px;
    }
    .ContactContent>.eyecatcher {
        padding: 80px 0px 40px 0px;
    }
    .contactInput {
        width: 850px;
        height: 75px;
        font-size: 30px;
    }
    .messageBox {
        width: 850px;
        font-size: 30px;
    }
}


/* -------------------------------- CONTACT PAGE END------------------------------ */


/* ------------for footer ------------*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerEmail {
    height: 360px;
    background-color: #1c2366;
}

.footerEmail p {
    color: white;
    font-size: 4vw;
    font-weight: 900;
    margin-top: 104px;
}

.footerSend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.inputhomeArea {
    width: 40%;
    height: 75px;
    border: none;
    border-radius: 5px;
}

body input::placeholder {
    font-weight: bold;
    color: #ADADAD;
    font-size: 2.5vw;
    padding-left: 10px;
}

textarea::placeholder {
    font-weight: bold;
    color: #ADADAD;
}

.footerSend a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13vw;
    height: auto;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 2.5vw;
    font-weight: 900;
    margin-top: 50px;
}

.footerSend a:hover {
    transition-duration: 0.4s;
    color: #73B4D8;
}

.footerInfo {
    background-color: #0D1132;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    width: 383px;
    height: 119px;
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
}

.footerContact ul li {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.SocialMedia {
    text-align: center;
    margin-top: 35px;
}

.SocialMedia ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.SocialMedia ul li {
    list-style-type: none;
    width: 67px;
    height: 67px;
}

.copyRight {
    color: white;
    margin-top: 90px;
}

/* ----------for footer t/m version-------- */


/* for footer email*/

@media screen and (max-width:768px) {
    .footerEmail {
        height: 247px;
    }
    .footerEmail p {
        font-size: 30px;
        margin-top: 80px;
    }
    .footerSend {
        margin-top: 35px;
    }
    .inputhomeArea {
        height: 40px;
        font-size: 20px;
    }
    .footerSend a {
        display: inline-block;
        width: 110px;
        padding: 15px;
        border-radius: 5px;
        font-size: 15px;
        margin-left: 16px;
        text-align: center;
    }
}

@media screen and (max-width:428px) {
    .footerEmail {
        height: 221px;
    }
    .footerEmail p {
        font-size: 20px;
        margin-top: 40px;
    }
    .footerSend {
        margin-top: 35px;
    }
    .inputhomeArea {
        width: 80%;
        height: 38px;
        font-size: 20px;
    }
    .footerSend a {
        display: inline-block;
        width: 102px;
        padding: 13px;
        border-radius: 5px;
        font-size: 13px;
        margin-left: 16px;
        text-align: center;
        margin-top: 15px;
    }
}


/* for footer Info */

@media screen and (max-width:768px) {
    .footerInfo {
        height: 413px;
    }
    .footerLogo {
        margin-top: 55px;
        width: 265px;
        height: 83px;
    }
    .footerContact ul li {
        color: white;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .SocialMedia ul li {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }
    .copyRight {
        margin-top: 20px;
        font-size: 18px;
    }
}

@media screen and (max-width:428px) {
    .footerInfo {
        height: 390px;
    }
    .footerLogo {
        margin-top: 55px;
        width: 265px;
        height: 83px;
    }
    .footerContact ul li {
        color: white;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .SocialMedia ul {
        width: 200px;
    }
    .SocialMedia ul li {
        width: 30px;
        height: 30px;
        margin-top: 0;
    }
    .copyRight {
        margin-top: 20px;
        font-size: 15px;
    }
}


/* ---------for video---------- */

.videoBox {
    height: 1433px;
}

.videoHolder {
    width: 90%;
    height: 80%;
    background: url(../images/index_page/video_frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoButton {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 200px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.35);
    background: url(../images/index_page/play-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videoButton:hover {
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.35);
    transform: scale(1.2);
    transition: ease-in-out 1.4s;
}

.videoLightBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .9);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

.videoLightBox video {
    outline: none;
    position: relative;
}

.videoClose {
    position: absolute;
    top: 0;
    right: 0;
    color: #DD1F4B;
    font-size: 100px;
    cursor: pointer;
    transition: ease-in-out 0.6s;
}

.videoClose:hover {
    color: #1C2366;
}

.videoControl {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.videoControl ul {
    display: flex;
    flex-direction: row;
}

.videoControl ul li {
    width: 200px;
    height: 200px;
}

.videoControl input {
    width: 90%;
}